{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Food {% endblock %}
{% block content %}


    <!-- Banner Area Starts -->
    <section class="banner-area banner-area2 blog-page text-center">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img style="height: 370px;width: 700px;" class="img-fluid" src="{{ object.image.url }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">

                                <ul class="blog_meta list">
                                        <li><a href="#">Mark wiens<i class="fa fa-user-o"></i></a></li>
                                        <li><a href="#">{{ object.created|date:"M d, Y"  }}<i class="fa fa-calendar-o"></i></a></li>
                                        <li><a href="#">{{ object.view }} Views<i class="fa fa-eye"></i></a></li>
                                        <li><a href="#">06 Comments<i class="fa fa-comment-o"></i></a></li>
                                    </ul>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h5>{{ object.title }}</h5>

                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                              {{ object.description }}
                            </div>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h4>05 Comments</h4>


                        {% for comnt in comments %}
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="assets/images/blog-details/c4.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">{{  comnt.author }}</a></h5>
                                        <p class="date">{{  comnt.created_on }}</p>
                                        <p class="comment">
                                           {{ comnt.comments }}
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% empty %}
                        <div>
                            <h5>There is no Comment</h5>
                        </div>
                        {% endfor %}


                    </div>
                    <div class="comment-form">
                        <h4>Leave a Reply</h4>
                        {% if user.is_authenticated  %}
                          <form class="" method="post" >
                            <br>
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-outline-info my-2 my-sm-0 text-center " type="submit">Submit</button>
                          </form>
                          {% else %}
                          <a href="{% url 'login' %}">
                            <form class="" method="post" >
                              <br>
                              {% csrf_token %}
                              {{ form|crispy }}
                              <button class="btn btn-outline-info my-2 my-sm-0 text-center " type="submit">Submit</button>
                            </form>
                          </a>
                          {% endif %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="assets/images/blog/author.png" alt="">
                            <h5>Farjan Hossain</h5>
                            <p> blog writer</p>
                            <div class="social_icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h4 class="widget_title">Recent Posts</h4>
                            {% for new in recent %}
                            <div class="media post_item">
                               <img style="height:30%; width:35%;" src="{{ new.image.url }}" alt="post">
                                <div class="media-body">
                                    <a href="{% url 'detail' new.pk %}"><h5>{{ new.title }}</h5></a>
                                    <p>{{ new.created }}</p>
                                </div>
                            </div>
                            {% endfor %}
                            <br>

                        </aside>
                         <aside class="single_sidebar_widget popular_post_widget">
                            <h4 class="widget_title">Recent Posts</h4>
                           {% for popular in popular %}
                            <div class="media post_item">
                                <img style="height:30%; width:35%;" src="{{ popular.image.url }}" alt="post">
                                <div class="media-body">
                                    <a href="{% url 'detail' popular.pk %}"><h5>{{ popular.title }}</h5></a>
                                    <p>{{ popular.created }}</p>
                                </div>
                            </div>
                            {% endfor %}

                        </aside>

                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="assets/images/blog/add.jpg" alt=""></a>
                            <div class="br"></div>
                        </aside>


                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>
                            <p>
                            Here, I focus on a range of items and features that we use in life without
                            giving them a second thought.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                                </div>
                                <a href="#" class="bbtns">Subscribe</a>
                            </div>
                            <p class="text-bottom">You can unsubscribe at any time</p>
                            <div class="br"></div>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}
