{% extends 'base.html' %}
{% load static %}
{% block title %} Food {% endblock %}
{% block content %}

     < <section class="banner-area banner-area2 blog-page text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><i>Our Menu</i></h1>


                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Banner Area End -->

    <!-- Food Area starts -->
    <section class="food-area section-padding">
        <div class="container">

            <div class="row">
              {% for food in menu %}
                <div class="col-md-4 col-sm-6">
                    <div style="height: 460px; width: 350px;" class="single-food">
                        <div class="food-img">
                            <a href="{% url 'detail' food.pk %}"><img style="height: 230px; width: 100%;" src="{{ food.image.url }}" class="img-fluid" alt=""></a>
                        </div>
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'detail' food.pk %}"><h5>{{ food.title }}</h5></a>
                                <span class="style-change">TK {{ food.price }}</span>
                            </div>
                            <p class="pt-3">{{ food.description|truncatewords:20 }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Food Area End -->


    <!-- Table Area End -->
{% endblock %}
