{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  login
{% endblock %}

{% block content %}
    <section style="padding: 50px 0 160px;" class="banner-area banner-area2 blog-page ">

    </section>

  <br>
  <br>
  <div class="bg- mt-1">
    <div class="container">
      <br>
      <div class="card " style="margin: auto; width: 450px; height: 450px;">
        <br>
        <div class=" text-center">
          <h3 class="text-dark">Login Here</h3>
          <p>Or <a href="{% url 'signup' %}">SignUp</a> </p>
        </div>
        <form class="form" style="margin: auto; width: 350px;" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-info btn-lg btn-block my-2 my-sm-0 text-center " type="submit">Submit</button>
        </form>
        <br>
      </div>
      <br>
    </div>
  </div>
  <br>
{% endblock %}
